.App {
  text-align: center;
  display: grid;
  width: 100vw;
  
}

#about {
  margin-top: 5%;
}

#projects {
  display: flex;
}

.P-item {
  flex: 1;
  border: 1px solid rgb(53, 53, 58);
  padding: 20px;
  background: rgb(130, 125, 119);
}

@media only screen and(max-width: 600px) {
   
    .P-item {
      flex-direction: column;
    }
  }



