.section-footer {
    height: 10vh;
    color: #fff;
    background-color: #555;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    width: 100vw;
    align-items: center;
  }
  
  .footer-box1 {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 50vw;
  }
  
  .footer-box1-item {
    padding-left: 15%;
    flex: 1;
    margin-left: 10px;
  }
  
  .section-footer a {
    color: #fff;
    font-weight: 400px;
  }
  
  .footer-box2 p {
    width: 200px;
    font-family: "Damion", cursive;
    font-size: 20px;
    justify-content: flex-end;
    padding-right: 0;
  }

  
  
  @media only screen and (max-width: 600px) {
    .footer-container {
      
      justify-items: center;
      width: 100%;
    }
  
    .footer-box2 {
      padding-top: 1%;
    }
  
}
  