.sidenav {
    position: fixed;
    display: grid;
    background: darkolivegreen;
  }
  
  .nav-item {
    float: left;
  }
  
  .nav-item a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  
  }